@font-face {
  font-family: RobotoMono;
  font-weight: 100;
  font-style: normal;
  src: url(../assets/fonts/RobotoMono/RobotoMono-Thin.ttf);
}
@font-face {
  font-family: RobotoMono;
  font-weight: 200;
  font-style: normal;
  src: url(../assets/fonts/RobotoMono/RobotoMono-ExtraLight.ttf);
}
@font-face {
  font-family: RobotoMono;
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/RobotoMono/RobotoMono-Light.ttf);
}
@font-face {
  font-family: RobotoMono;
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/RobotoMono/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  font-weight: 500;
  font-style: normal;
  src: url(../assets/fonts/RobotoMono/RobotoMono-Medium.ttf);
}
@font-face {
  font-family: RobotoMono;
  font-weight: 600;
  font-style: normal;
  src: url(../assets/fonts/RobotoMono/RobotoMono-SemiBold.ttf);
}
@font-face {
  font-family: RobotoMono;
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/RobotoMono/RobotoMono-Bold.ttf);
}
